In [1]:
def cleanData(data, pattern):
    import re
    result=[]
    if type(data) == list:
        for item in data:
            mo = re.search(pattern, item)
            if mo != None:
                result.append(mo.group(1))
            else:
                result.append('NA')
    
    elif type(data) == str:
        mo= re.search(pattern, data)
        if mo != None:
            result= mo.group(1)
        else:
            result= 'NA'
    return result

In [2]:
def get_nba_salary():
    import pandas as pd
    from urllib.request import urlopen
    from bs4 import BeautifulSoup
    
    html= 'https://hoopshype.com/salaries/players/'    
    html= urlopen(html)
    
    htmlBS= BeautifulSoup(html, 'html.parser')
    
    findPlayerName = htmlBS.find('tbody').findAll('td', {'class':'name'})
    playerName = [item.getText() for item in findPlayerName]

    patternPlayerName = '\n{2}\t{8}(.*?)\t'
    patternSalary= '\n{1}\t{7}\$(.*[0-9]).*'
    patternTable= '\n\t{7}(.*[0-9]).*'

    playerNameClean= cleanData(playerName, patternPlayerName)

    findTableName= htmlBS.find('tr', {'class':'table-index'}).find('td', {'class':'hh-salaries-sorted'})
    tableName=[]
    i=0
    while i<4:
        tableName.append(findTableName.getText())
        findTableName= findTableName.next_sibling.next_sibling
        i+= 1
    tableNameClean= cleanData(tableName, patternTable)

    playerSalary={}
    for item in findPlayerName:
        i= 0
        salary= []
        salaryTag= item.next_sibling.next_sibling
        while i<4:
            if salaryTag.getText() != '\n':
                salary.append(salaryTag.getText())
            else:
                salary.append('NA')
            salaryTag= salaryTag.next_sibling.next_sibling
            i+= 1

        salaryClean= cleanData(salary, patternSalary)
        salaryDict= dict(zip(tableNameClean, salaryClean))

        playerSalaryDict= {playerNameClean[findPlayerName.index(item)]:salaryDict}
        playerSalary.update(playerSalaryDict)
        
    result= pd.DataFrame(playerSalary)
    answer= result.transpose()
    answer.reset_index(inplace=True)
    answer.rename(columns={'index': 'player', '2018/19': 'salary'}, inplace=True)

    return answer.loc[:, 'player':'salary']

In [4]:
get_nba_salary().head()

              player      salary
0      Stephen Curry  37,457,154
1  Russell Westbrook  35,665,000
2       LeBron James  35,654,150
3      Blake Griffin  31,873,932
4     Gordon Hayward  31,214,295